/* Menu Items*/
#__bolt-ms-vss-web-home-hub-group-container, /* Overview */
#__bolt-ms-vss-test-web-test-hub-group-container, /* Test Plans */

#__bolt-ms-vss-work-web-new-work-items-hub, /* Boards - Work Items */
#__bolt-ms-vss-work-web-boards-hub, /* Boards - Boards */
#__bolt-ms-vss-work-web-query-hub, /* Boards - Queries */
#__bolt-ms-vss-plans-vss-plans-hub, /* Boards - Plans */
#__bolt-agile-extensions-personas-hub, /* Boards - Personas */
/*#__bolt-ms-devlabs-team-retrospectives-home,*/ /* Boards - Retrospectives */
/*#__bolt-ms-devlabs-team-calendar-calendar,*/ /* Boards - Calendar */
#__bolt-agile-extensions-product-vision-work-hub, /* Boards - Product Vision */
#__bolt-ms-devlabs-estimate-Estimate-Main, /* Boards - Estimate */
#__bolt-techtalk-specmap-specmap-unlicensed, /* Boards - Spec Map */
#__bolt-YodLabs-TagsManager2-tags-manager-work, /* Boards - Tags */

#__bolt-ms-vss-code-web-commits-hub, /* Repos - Commits */
#__bolt-ms-vss-code-web-pushes-hub, /* Repos - Pushes */
#__bolt-ms-vss-code-web-branches-hub, /* Repos - Branches */
#__bolt-ms-vss-code-web-tags-hub, /* Repos - Tags */
#__bolt-ottostreifel-pull-request-search-pr-search-hub, /* Repos - Pull Request Search */
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard, /* Repos - Pull Request Dashboard */
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls, /* Repos - Active Pull Requests */

#__bolt-whitesource-ws-bolt-build-hub-wss, /* Pipelines - WhiteSource Bolt */
#__bolt-YodLabs-TagsManager2-tags-manager-build-release, /* Pipelines - Build Tags */

/* Expanded menu items */
#__bolt-ms-vss-work-web-new-work-items-hub-link,
#__bolt-ms-vss-work-web-new-work-items-hub,
#__bolt-ms-vss-work-web-boards-hub-link,
#__bolt-ms-vss-work-web-boards-hub,
#__bolt-ms-vss-work-web-query-hub-link,
#__bolt-ms-vss-work-web-query-hub,
#__bolt-ms-vss-plans-vss-plans-hub-link,
#__bolt-ms-vss-plans-vss-plans-hub,
#__bolt-agile-extensions-personas-hub-link,
#__bolt-agile-extensions-personas-hub,
/*#__bolt-ms-devlabs-team-retrospectives-home-link,*/
/*#__bolt-ms-devlabs-team-retrospectives-home,*/
#__bolt-ms-devlabs-workitem-feature-timeline-extension-workitem-portfolio-planning-link,
#__bolt-ms-devlabs-workitem-feature-timeline-extension-workitem-portfolio-planning,
#__bolt-TimeLog-time-logging-extension-time-log-summary-link,
#__bolt-TimeLog-time-logging-extension-time-log-summary,
/*#__bolt-ms-devlabs-team-calendar-team-calendar-link,*/
/*#__bolt-ms-devlabs-team-calendar-team-calendar,*/
#__bolt-agile-extensions-product-vision-work-hub-link,
#__bolt-agile-extensions-product-vision-work-hub,
#__bolt-ms-devlabs-estimate-estimate-hub-link,
#__bolt-ms-devlabs-estimate-estimate-hub,
#__bolt-techtalk-specmap-hub-link,
#__bolt-techtalk-specmap-hub,
#__bolt-ms-eswm-dependencytracker-dependencytracker-hub-link,
#__bolt-ms-eswm-dependencytracker-dependencytracker-hub,
#__bolt-YodLabs-TagsManager2-tags-manager-work-link,
#__bolt-YodLabs-TagsManager2-tags-manager-work,
#__bolt-ms-vss-code-web-commits-hub-new-link,
#__bolt-ms-vss-code-web-commits-hub-new,
#__bolt-ms-vss-code-web-new-pushes-hub-link,
#__bolt-ms-vss-code-web-new-pushes-hub,
#__bolt-ms-vss-code-web-branches-hub-new-link,
#__bolt-ms-vss-code-web-branches-hub-new,
#__bolt-ms-vss-code-web-new-tags-hub-link,
#__bolt-ms-vss-code-web-new-tags-hub,
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard-link,
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard,
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls-link,
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls,
#__bolt-ms-vss-distributed-task-hub-task-groups-link,
#__bolt-ms-vss-distributed-task-hub-task-groups,
#__bolt-ms-vss-releaseManagement-web-hub-machinegroup-link,
#__bolt-ms-vss-releaseManagement-web-hub-machinegroup,
#__bolt-whitesource-ws-bolt-build-hub-wss-link,
#__bolt-whitesource-ws-bolt-build-hub-wss,
#__bolt-YodLabs-TagsManager2-tags-manager-build-release-link,
#__bolt-YodLabs-TagsManager2-tags-manager-build-release,
#__bolt-ottostreifel-pull-request-search-pr-search-hub-link,
#__bolt-ottostreifel-pull-request-search-pr-search-hub,
#__bolt-ottostreifel-wiql-editor-wiql-playground-hub,
#__bolt-ottostreifel-wiql-editor-wiql-playground-hub-link,
#__bolt-KMDTimesheet-Kmd-Timesheet-kmd-timesheet,
#__bolt-KMDTimesheet-Kmd-Timesheet-kmd-timesheet-link
{
  display: none !important;
}

/* Work Item Form Elements */
.work-item-form-tabs .work-item-form-tab:nth-of-type(2), /*  Timelog */
.work-item-form-tabs .work-item-form-tab:nth-of-type(3), /*  Timesheet */
.work-item-form-tabs .work-item-form-tab:nth-of-type(4), /*  Release notes */
.work-item-form-tabs .work-item-form-tab:nth-of-type(5), /*  Launch darkly */
.work-item-form-tabs .work-item-form-tab:nth-of-type(7) /*  Links */
li[command=work-item-follow] /* Follow */
{
    opacity: 0.2;
}


/* Taskboard cleanup */

/* HIde assignee name */
.bolt-table-container .identity-display-name {
  display: none;
}

/* Hide work item icon */
.card-content [aria-label=Task], .card-content .work-item-type-icon {
  display: none;
}

/* Hide work item id */
.card-content .title > .font-weight-semibold {
  display: none;
}

/* Remove work item title left margin */
.card-content .title > .title-text {
  margin-left: 0;
}

/* Hide work item state */
.card-content .work-item-state-container {
  display: none;
}

/* Hide work item fields */
.card-content .fields {
  display: none;
}

/* Reduce work item margin */
.taskboard-card {
  margin: 2px !important;
}

/* Reduce work item padding */
.card-content {
  padding: 4px !important;
}

/* Move assignee avatar to top left of work item */
.card-content > *:last-child {
  position: absolute;
  margin-top: -9px;
  margin-left: -6px;
}

/* Give space for avatar before work item title */
.card-content .title-text {
  margin-left: 18px !important;
}

/* Hide tag list on user story*/
.bolt-table-container .tags-list {
  display: none;
}

/* Move New Work Item dropdown to top right cell corner */
.taskboard-expanded-cell  {
  position: relative;
}
.taskboard-new-item-dropdown {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Hide collapsed rows */
.taskboard-collapsed-row {
  display: none;
}