/* Menu Items*/
#__bolt-ms-vss-web-home-hub-group-container, /* Overview */
#__bolt-ms-vss-test-web-test-hub-group-container, /* Test Plans */

#__bolt-ms-vss-work-web-new-work-items-hub, /* Boards - Work Items */
#__bolt-ms-vss-work-web-boards-hub, /* Boards - Boards */
#__bolt-ms-vss-work-web-query-hub, /* Boards - Queries */
#__bolt-ms-vss-plans-vss-plans-hub, /* Boards - Plans */
#__bolt-agile-extensions-personas-hub, /* Boards - Personas */
#__bolt-ms-devlabs-team-retrospectives-home, /* Boards - Retrospectives */
#__bolt-ms-devlabs-team-calendar-calendar, /* Boards - Calendar */
#__bolt-agile-extensions-product-vision-work-hub, /* Boards - Product Vision */
#__bolt-ms-devlabs-estimate-Estimate-Main, /* Boards - Estimate */
#__bolt-techtalk-specmap-specmap-unlicensed, /* Boards - Spec Map */
#__bolt-YodLabs-TagsManager2-tags-manager-work, /* Boards - Tags */

#__bolt-ms-vss-code-web-commits-hub, /* Repos - Commits */
#__bolt-ms-vss-code-web-pushes-hub, /* Repos - Pushes */
#__bolt-ms-vss-code-web-branches-hub, /* Repos - Branches */
#__bolt-ms-vss-code-web-tags-hub, /* Repos - Tags */
#__bolt-ottostreifel-pull-request-search-pr-search-hub, /* Repos - Pull Request Search */
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard, /* Repos - Pull Request Dashboard */
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls, /* Repos - Active Pull Requests */

#__bolt-whitesource-ws-bolt-build-hub-wss, /* Pipelines - WhiteSource Bolt */
#__bolt-YodLabs-TagsManager2-tags-manager-build-release, /* Pipelines - Build Tags */

/* Expanded menu items */
#__bolt-ms-vss-work-web-new-work-items-hub-link,
#__bolt-ms-vss-work-web-new-work-items-hub,
#__bolt-ms-vss-work-web-boards-hub-link,
#__bolt-ms-vss-work-web-boards-hub,
#__bolt-ms-vss-work-web-query-hub-link,
#__bolt-ms-vss-work-web-query-hub,
#__bolt-ms-vss-plans-vss-plans-hub-link,
#__bolt-ms-vss-plans-vss-plans-hub,
#__bolt-agile-extensions-personas-hub-link,
#__bolt-agile-extensions-personas-hub,
#__bolt-ms-devlabs-team-retrospectives-home-link,
#__bolt-ms-devlabs-team-retrospectives-home,
#__bolt-ms-devlabs-workitem-feature-timeline-extension-workitem-portfolio-planning-link,
#__bolt-ms-devlabs-workitem-feature-timeline-extension-workitem-portfolio-planning,
#__bolt-TimeLog-time-logging-extension-time-log-summary-link,
#__bolt-TimeLog-time-logging-extension-time-log-summary,
#__bolt-ms-devlabs-team-calendar-team-calendar-link,
#__bolt-ms-devlabs-team-calendar-team-calendar,
#__bolt-agile-extensions-product-vision-work-hub-link,
#__bolt-agile-extensions-product-vision-work-hub,
#__bolt-ms-devlabs-estimate-estimate-hub-link,
#__bolt-ms-devlabs-estimate-estimate-hub,
#__bolt-techtalk-specmap-hub-link,
#__bolt-techtalk-specmap-hub,
#__bolt-ms-eswm-dependencytracker-dependencytracker-hub-link,
#__bolt-ms-eswm-dependencytracker-dependencytracker-hub,
#__bolt-YodLabs-TagsManager2-tags-manager-work-link,
#__bolt-YodLabs-TagsManager2-tags-manager-work,
#__bolt-ms-vss-code-web-commits-hub-new-link,
#__bolt-ms-vss-code-web-commits-hub-new,
#__bolt-ms-vss-code-web-new-pushes-hub-link,
#__bolt-ms-vss-code-web-new-pushes-hub,
#__bolt-ms-vss-code-web-branches-hub-new-link,
#__bolt-ms-vss-code-web-branches-hub-new,
#__bolt-ms-vss-code-web-new-tags-hub-link,
#__bolt-ms-vss-code-web-new-tags-hub,
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard-link,
#__bolt-ryanstedman-tfs-pullrequest-dashboard-tfs-pullrequest-dashboard,
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls-link,
#__bolt-sierpinski-blitz-allpulls-extension-BlitzActivePulls,
#__bolt-ms-vss-distributed-task-hub-task-groups-link,
#__bolt-ms-vss-distributed-task-hub-task-groups,
#__bolt-ms-vss-releaseManagement-web-hub-machinegroup-link,
#__bolt-ms-vss-releaseManagement-web-hub-machinegroup,
#__bolt-whitesource-ws-bolt-build-hub-wss-link,
#__bolt-whitesource-ws-bolt-build-hub-wss,
#__bolt-YodLabs-TagsManager2-tags-manager-build-release-link,
#__bolt-YodLabs-TagsManager2-tags-manager-build-release,
#__bolt-ottostreifel-pull-request-search-pr-search-hub-link,
#__bolt-ottostreifel-pull-request-search-pr-search-hub,

/* Work Item Form Elements */
.work-item-form-tabs .work-item-form-tab:nth-of-type(2), /*  Launch Darkly tab */
li[command=work-item-follow] /* Follow */
{
    display: none !important;
}



/* Taskboard cleanup */

.taskboard-row.ui-droppable {
    /* This controls the display of collapsed stories */
    display: none;
}

#expand-collapse-button {
    display: none !important;
}

.tbTile {
    margin: 2px !important;
    font-size: 8pt !important;
    border-radius: 3px;
  }

  .tbTile .tbTileContent{
    border-radius: 0 3px 3px 0;
  }
  
  .tbTile.childTbTile {
    width: 230px !important;
  }

  .tbTile .identity-picker-resolved-name {
    display: none;
  }
  
  .tbTile .work-item-type-icon-host {
      display: none;
  }
  
  .tbTile .id {
    display: none !important;
}

  .tbTile .id-title-container {
    margin: 0 !important;
    margin-left: 32px !important;
    min-height: 34px !important;
  }
  
  .tbTile .container.witExtra {
    position: absolute;
    top: 4px;
    left: -4px;
  }

  .taskboard-cell {
    padding: 0 !important;
    border-bottom-width: 0 !important;
    border-left: solid 2px !important;
    border-left-color: rgba(255,255,255,1) !important;
    border-left-color: rgba(var(--palette-neutral-0,255, 255, 255),1) !important;
  }

  .taskboard-row-summary .witTitle  {
    font-size: 11px !important;
  }

  .taskboard-row-summary .taskboard-expander {
    padding-top: 0 !important;
  }

  .taskboard-row-summary .tbPivotItem, .taskboard-row-summary .tbPivotItem .title {
      line-height: unset !important;
      margin-bottom: 0 !important;
  }

  .vss-FilterBar {
      padding: 0 !important;
      margin-top: 2px !important;
      margin-bottom: 0 !important;
  }

  .taskboard-cell .board-add-card {
      left: unset !important;
      right: 5px !important;
  }

  .parentTbTile .tbTileContent .title {
      font-size: 11px !important;
  }

  th .witState {
      font-size: 9px !important;
      padding-left: 2px;
  }

  .taskboard .taskboardTableBodyScrollContainer.scrollable {
      top: 18px !important;
  }

  .taskboard .taskboardTableBodyScrollContainer #taskboard-table-body {
      width: unset !important;
  }

  .sprint-view-container .vss-PivotBar .vss-PivotBarItem.customPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .taskboard .bowtie-toggle-tree-expanded {
      display: none !important;
  }

  .taskboard-expander {
    min-width: 0px !important;
    width: 0 !important;
    max-width: 0 !important;
  }